.herotitle {
  color: red;
}

/* Mobile menu */
/* Full overlay can stay full screen */
.wp-block-navigation__responsive-container.is-menu-open {
  padding-left: 24px;
  padding-right: 24px;
}

/* Constrain the inner menu content */
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Min height rule */
.wp-site-blocks {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main tag flex to grow full viewport height */
main {
  flex: 1;
}

/* Show menu when JS is disabled */
.no-js .wp-block-navigation__responsive-container {
  display: block !important;
  position: static;
  height: auto;
  width: 100%;
  background: none;
}

/* Hide the toggle button (since it won’t work) */
.no-js .wp-block-navigation__responsive-container-open {
  display: none;
}

/* Make menu items stack nicely */
.no-js .wp-block-navigation__container {
  display: block;
}

.no-js .wp-block-navigation__responsive-container-close {
  display: none;
}